body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
    background-color: #f3f0d7;
}

h1 {
    text-align: center;
    padding: 20px;
    border: 5px solid #ae85e4;
    border-radius: 8px;
}

p {
    color: #858ee4;
    font-weight: bold;
    margin-top: 12px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #ae85e4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #858ee4;
}

section {
    border: 5px solid #ae85e4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#hoverMsg {
    display: block;
    color: #858ee4;
}