body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
}

h1 {
    text-align: center;
}
section {
    border: 5px solid #ae85e4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}